<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="XAssist"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.ws.eclipse.xassist.editors.XAssistEditor"
            id="org.adi.jxmleditor.editors.XAssistEditor">
      </editor>
   </extension>

</plugin>
